* {
  
  padding: 0;
  box-sizing: border-box;
}

.contato-container{
  margin: 5%;
  width: 30%;
}

.contato-form {
  
  display: flex;
  flex-direction: column;
}

.contato-img {
  display: flex;
  margin: 3%;
}
.mapa{
  text-align: center;
}